*{
    box-sizing: border-box;
  }
  


  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height:1.5;
    background-color: rgb(69, 109, 134); 
  }
  
article h1 {
font-size: 250%;
align-items: center;
text-align: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    height: 300px;
    font-size: 200%;
    column-gap: 20px;
    align-items: center;
    grid-template-columns: 600px 300px;
    background-image: url(assets/sunset-background.JPG);
    background-size: cover;

}

.nav-bar {
  display: inline-flex;
  width: 100%;
  background-color: black;
  height: 100px;
  color:rgb(69, 109, 134); 
  font-size: 200%;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.intro {
  text-align: center;
  height: 300px;
  padding: 20px;
  background-color: rgb(69, 109, 134);
  margin-top: 15%;
  background-color: rgb(49, 77, 95);
  margin-left: 15%;
  margin-right: 15%;
  
}

.gridbox {
  margin: 0px 15%;
display: grid;
text-align: center;
grid-template-rows: 300px 300px 300px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
                     "one one three"
                     "one one two"
                     "four five six" 
  
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  padding: 30px;
  text-align: center;
  text-shadow: 3px 3px;  
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.grid-item1 {
  grid-area: one;
  background-image: url(./assets/keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

.grid-item2 {
  grid-area: two;
  background-image: url(./assets/workspace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item3 {
  grid-area: three;
  background-image: url(./assets/stocks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item4 {
  grid-area: four;
  background-image: url(./assets/world.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item5 {
  grid-area: five;
  background-image: url(./assets/windmills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item6 {
  grid-area: six;
  background-image: url(./assets/apps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-head {
  padding: 1px;
  text-align: center;
  background-color: black;
  background-position: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  
}

.avatar {
    border-radius: 50%;
}


h1  {
    color: rgb(67, 67, 150);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(154, 158, 194);
}


  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
